/* Base */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Layout  */

/* Modules */
    
/* State */

/* Theme */

/* Very small screens  */

@media screen and (max-width: 350px) {
}